<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' type='text/css' media='screen' href='/Users/oljeon/Desktop/WCK/lolmatch/src/main/resources/static/css/main_home.css'>
  <title>WCK 홈</title>
</head>
<body>
<!--frame-->
<div id="frame" class="frame" role=>
  <div id="line1" class="line1">
    <div id="menu1">
				<span class="lan_box">
					<select id="lan_sel" class="sel" aria-label="한국어">
						<option value="">한국어</option>
						<option value="English">English</option>
						<option value="日本語">日本語</option>
						<option value="중꿔">중꿔</option>
					</select>
				</span>
      <div class="h_line"></div>
      <div id="logout" class="logout">
        <span class="text_log">로그아웃</span>
      </div>
    </div>
  </div>
  <div id="line2" class="line2">
    <a class="W_logo" href="http;// 블라블라">
      <img src="logo1.png" class="logo1">
    </a>
    <div class="menu2">
      <nav>
        <ul>
          <div id="menu_box" class="home_box">
            <li class="home">
              <a href="homelink" style="color: #FF8600;">
                <span>홈</span>
              </a>
              <div class="u_line"></div>
            </li>
            <div class="u_bar"></div>
          </div>
          <div id="menu_box" class="maching_box">
            <li class="maching">
              <a href="homelink">
                <span>게임 매칭</span>
              </a>
            </li>
            <div class="u_bar_off"></div>
          </div>
          <div id="menu_box" class="team_box">
            <li class="team">
              <a href="homelink">
                <span>팀 관리</span>
              </a>
            </li>
            <div class="u_bar_off"></div>
          </div>
          <div id="menu_box" class="commu_box">
            <li class="commu">
              <a href="homelink">
                <span>커뮤니티</span>
              </a>
            </li>
            <div class="u_bar_off"></div>
          </div>
        </ul>
      </nav>
    </div>
    <div id="profile_box">
      <img src="PIcon2.png" class="icon">
      <span class="nick_box">
					<label class="nick">황제카 GANG</label>
					<br>
					<label class="tier">silver 1</label>
				</span>
      <div class="h_bar"></div>
      <div id="f_search" class="f_search">
        <div class="s_button">
          <img src="Vector.png" style="width: 17px;">
        </div>
      </div>
    </div>

  </div>
</div>
<!--//frame-->
<!--content-->
<div class="wrap">
  <div class="home_logo">
    <a href="http;// 블라블라">
      <img src="logo1.png" class="h_logo">
    </a>
  </div>
  <div class="home_search_box">
                <span class="s_menu">
                    <select id="s_sel" class="s_sel" aria-label="통합검색">
                        <option value="">통합검색</option>
                        <option value="게임 매칭">게임 매칭</option>
                        <option value="커뮤니티">커뮤니티</option>
                    </select>
                </span>
    <div class="s_line"></div>
    <div id="s_bar" class="s_input">
      <input id="search_text" class="input_text" type="text" name="search_text" placeholder="검색어를 입력해주세요." title="검색어를 입력해주세요." maxlength="41" value="">
    </div>
    <div class="s_button2">
      <img src="Vector.png" style="width: 24px;">
    </div>
  </div>

</div>
<!--//content-->
</body>
</html>