<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' type='text/css' media='screen' href='/css/style.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/main.css'>
    <title>WCK 홈</title>
</head>
<body>
    <div class="f_line">

    </div>
    <div class="s_line">
        <a class="logo">
            <img src="logo1.png">
        </a>
        <nav>
            <ul>
                <li>
                    <span>홈</span>

                </li>
                <li>
                    <span>게임 매칭</span>

                </li>
                <li>
                    <span>팀 관리</span>

                </li>
                <li>
                    <span>커뮤니티</span>

                </li>
            </ul>
        </nav>
    </div>
</body>
</html>