body{
    margin: 0;
    background: F1F1F1;}
.f_line{
    width: 100%;
    height: 60px;
    background: #252525;}
.s_line{
    width: 100%;
    height: 100px;
    background: white;}
.logo{
    height: 25px;
    }